{
	"$schema": "vscode://schemas/color-theme",
	"name": "Oblique {{ variants.mode }} {{ variants.accent }}",
	"colors": {
		"titleBar.activeBackground": "{{ colours.sidebarsBg }}",
		"titleBar.inactiveBackground": "{{ colours.editorBgDark }}",
		"titleBar.activeForeground": "{{ colours.sidebarsIcons }}",
		"icon.foreground": "{{ colours.sidebarsIcons }}",
		"quickInput.background": "{{ colours.editorBgBright }}",
		"quickInputTitle.background": "{{ colours.editorBgBright }}",
		"list.activeSelectionBackground": "{{ colours.listItemBgSelected }}",
		"list.inactiveSelectionBackground": "{{ colours.listItemBgSelected }}",
		"list.hoverBackground": "{{ colours.listItemBgHover }}",
		"checkbox.background": "{{ colours.inputsBg }}",
		"dropdown.background": "{{ colours.inputsBg }}",
		"input.background": "{{ colours.inputsBg }}",
		"settings.checkboxBackground": "{{ colours.inputsBg }}",
		"settings.dropdownBackground": "{{ colours.inputsBg }}",
		"settings.numberInputBackground": "{{ colours.inputsBg }}",
		"settings.textInputBackground": "{{ colours.inputsBg }}",
		"checkbox.border": "{{ colours.sidebarsBgDark }}",
		"dropdown.border": "{{ colours.sidebarsBgDark }}",
		"input.border": "{{ colours.sidebarsBgDark }}",
		"settings.rowHoverBackground": "{{ colours.settingsSectionBgHover }}",
		"settings.settingsHeaderHoverForeground": "{{ colours.settingsSectionBgHover }}",
		"settings.focusedRowBackground": "{{ colours.settingsSectionBgSelected }}",
		"dropdown.foreground": "{{ colours.text }}",
		"input.foreground": "{{ colours.text }}",
		"input.placeholderForeground": "{{ colours.comments }}",
		"pickerGroup.foreground": "{{ colours.links }}",
		"keybindingLabel.background": "{{ colours.activityBarBadgesBg }}",
		"menu.background": "{{ colours.tabsBgActive }}",
		"menu.selectionBackground": "{{ colours.listItemBgSelected }}",
		"editorWidget.background": "{{ colours.tabsBgActive }}",
		"editorSuggestWidget.selectedBackground": "{{ colours.listItemBgSelected }}",
		"notificationCenterHeader.background": "{{ colours.tabsBgActive }}",
		"widget.shadow": "{{ colours.shadow }}",
		"scrollbar.shadow": "{{ colours.shadow }}",
		"widget.border": "{{ colours.transparent }}",
		"activityBar.background": "{{ colours.activityBarBg }}",
		"sideBar.background": "{{ colours.sidebarsBg }}",
		"panel.background": "{{ colours.sidebarsBg }}",
		"editorGutter.background": "{{ colours.tabsBg }}",
		"terminal.background": "{{ colours.terminalBg }}",
		"terminal.foreground": "{{ colours.text }}",
		"activityBar.inactiveForeground": "{{ colours.activityBarIcons }}",
		"activityBar.foreground": "{{ colours.textBright }}",
		"activityBar.activeBorder": "{{ colours.transparent }}",
		"activityBar.activeBackground": "{{ colours.tabsBgActiveFocused }}",
		"activityBarBadge.background": "{{ colours.activityBarBadgesBg }}",
		"activityBarBadge.foreground": "{{ colours.textBright }}",
		"sideBarTitle.foreground": "{{ colours.textBright }}",
		"sideBarSectionHeader.foreground": "{{ colours.textBright }}",
		"sideBar.foreground": "{{ colours.text }}",
		"gitDecoration.ignoredResourceForeground": "{{ colours.comments }}",
		"textPreformat.foreground": "{{ colours.variables }}",
		"textPreformat.background": "{{ colours.textCodeBg }}",
		"textCodeBlock.background": "{{ colours.textCodeBg }}",
		"textBlockQuote.background": "{{ colours.textQuoteBg }}",
		"textBlockQuote.border": "{{ colours.textQuoteBorder }}",
		"sideBarSectionHeader.background": "{{ colours.editorBg }}",
		"sideBarSectionHeader.border": "{{ colours.sidebarsBorder }}",
		"button.background": "{{ colours.buttonsBg }}",
		"button.hoverBackground": "{{ colours.buttonsBgHover }}",
		"textLink.foreground": "{{ colours.links }}",
		"textLink.activeForeground": "{{ colours.linksHover }}",
		"editorLink.activeForeground": "{{ colours.linksHover }}",
		"focusBorder": "{{ colours.focusBorder }}",
		"inputOption.activeBackground": "{{ colours.inputOptionsBgSelected }}",
		"inputOption.activeBorder": "{{ colours.transparent }}",
		"editor.findMatchHighlightBackground": "{{ colours.searchHighlightBg }}",
		"editorOverviewRuler.findMatchForeground": "{{ colours.searchHighlightBg }}",
		"editor.findMatchBackground": "{{ colours.searchHighlightBg }}",
		"editor.wordHighlightBackground": "{{ colours.wordHighlightBg }}",
		"editorOverviewRuler.wordHighlightForeground": "{{ colours.wordHighlightBg }}",
		"extensionIcon.starForeground": "{{ colours.sidebarsIcons }}",
		"extensionIcon.verifiedForeground": "{{ colours.verified }}",
		"editor.background": "{{ colours.editorBg }}",
		"editorGroup.dropBackground": "{{ colours.listItemBgHover }}",
		"editorGroup.emptyBackground": "{{ colours.editorBgDark }}",
		"editorGroup.border": "{{ colours.editorBorder }}",
		"tab.inactiveBackground": "{{ colours.tabsBg }}",
		"tab.activeBackground": "{{ colours.tabsBgActiveFocused }}",
		"tab.hoverBackground": "{{ colours.tabsBgActive }}",
		"tab.unfocusedHoverBackground": "{{ colours.tabsBgActive }}",
		"tab.unfocusedActiveBackground": "{{ colours.tabsBgActive }}",
		"tab.border": "{{ colours.transparent }}",
		"tab.activeBorder": "{{ colours.focusBorder }}",
		"tab.unfocusedActiveBorder": "{{ colours.focusBorder }}",
		"editorGroupHeader.tabsBackground": "{{ colours.tabsBg }}",
		"editorGroupHeader.noTabsBackground": "{{ colours.tabsBg }}",
		"breadcrumb.background": "{{ colours.tabsBg }}",
		"breadcrumb.foreground": "{{ colours.sidebarsIcons }}",
		"breadcrumb.focusForeground": "{{ colours.linksHover }}",
		"breadcrumb.activeSelectionForeground": "{{ colours.links }}",
		"settings.modifiedItemIndicator": "{{ colours.settingsModifiedBorder }}",
		"editor.selectionBackground": "{{ colours.textSelectionBg }}",
		"selection.background": "{{ colours.textSelectionBg }}",
		"editor.inactiveSelectionBackground": "{{ colours.textSelectionBgInactive }}",
		"scrollbarSlider.background": "{{ colours.scrollbarsBg }}",
		"scrollbarSlider.hoverBackground": "{{ colours.scrollbarsBgHover }}",
		"scrollbarSlider.activeBackground": "{{ colours.scrollbarsBgDrag }}",
		"statusBar.background": "{{ colours.sidebarsBg }}",
		"statusBar.noFolderBackground": "{{ colours.sidebarsBg }}",
		"statusBar.debuggingBackground": "{{ colours.sidebarsBgDebugging }}",
		"statusBar.border": "{{ colours.sidebarsBorder }}",
		"statusBar.noFolderBorder": "{{ colours.sidebarsBorder }}",
		"statusBar.debuggingBorder": "{{ colours.sidebarsBorderDebugging }}",
		"statusBar.foreground": "{{ colours.sidebarsIcons }}",
		"statusBar.noFolderForeground": "{{ colours.sidebarsIcons }}",
		"statusBar.debuggingForeground": "{{ colours.text }}",
		"debugToolBar.background": "{{ colours.tabsBgActive }}",
		"debugIcon.pauseForeground": "{{ colours.variables }}",
		"debugIcon.startForeground": "{{ colours.constantValuesDark }}",
		"debugIcon.continueForeground": "{{ colours.constantValues }}",
		"debugIcon.stepOverForeground": "{{ colours.functions }}",
		"debugIcon.stepIntoForeground": "{{ colours.controlFlowFunctions }}",
		"debugIcon.stepBackForeground": "{{ colours.controlFlowFunctions }}",
		"debugIcon.stepOutForeground": "{{ colours.controlFlow }}",
		"debugIcon.restartForeground": "{{ colours.types }}",
		"debugIcon.stopForeground": "{{ colours.classes }}",
		"debugIcon.disconnectForeground": "{{ colours.classes }}",
		"debugTokenExpression.name": "{{ colours.variables }}",
		"debugTokenExpression.value": "{{ colours.comments }}",
		"debugTokenExpression.string": "{{ colours.text }}",
		"debugTokenExpression.boolean": "{{ colours.constantValues }}",
		"debugTokenExpression.number": "{{ colours.constantValues }}",
		"debugTokenExpression.type": "{{ colours.types }}",
		"debugTokenExpression.error": "{{ colours.errors }}",
		"symbolIcon.arrayForeground": "{{ colours.controlFlow }}",
		"symbolIcon.booleanForeground": "{{ colours.constantValues }}",
		"symbolIcon.classForeground": "{{ colours.classes }}",
		"symbolIcon.constantForeground": "{{ colours.constantVariables }}",
		"symbolIcon.constructorForeground": "{{ colours.functions }}",
		"symbolIcon.enumeratorForeground": "{{ colours.classes }}",
		"symbolIcon.enumeratorMemberForeground": "{{ colours.constantVariables }}",
		"symbolIcon.eventForeground": "{{ colours.variables }}",
		"symbolIcon.fieldForeground": "{{ colours.variables }}",
		"symbolIcon.fileForeground": "{{ colours.text }}",
		"symbolIcon.functionForeground": "{{ colours.functions }}",
		"symbolIcon.interfaceForeground": "{{ colours.classes }}",
		"symbolIcon.keyForeground": "{{ colours.variables }}",
		"symbolIcon.objectForeground": "{{ colours.controlFlow }}",
		"symbolIcon.operatorForeground": "{{ colours.controlFlow }}",
		"symbolIcon.methodForeground": "{{ colours.functions }}",
		"symbolIcon.moduleForeground": "{{ colours.controlFlow }}",
		"symbolIcon.namespaceForeground": "{{ colours.controlFlow }}",
		"symbolIcon.nullForeground": "{{ colours.constantValues }}",
		"symbolIcon.numberForeground": "{{ colours.constantValues }}",
		"symbolIcon.packageForeground": "{{ colours.controlFlow }}",
		"symbolIcon.propertyForeground": "{{ colours.variables }}",
		"symbolIcon.stringForeground": "{{ colours.text }}",
		"symbolIcon.structForeground": "{{ colours.classes }}",
		"symbolIcon.typeParameterForeground": "{{ colours.types }}",
		"symbolIcon.variableForeground": "{{ colours.variables }}",
		"editor.foreground": "{{ colours.text }}",
		"editorWhitespace.foreground": "{{ colours.whitespace }}",
		"editorBracketHighlight.foreground1": "{{ colours.controlFlow }}",
		"editorBracketHighlight.foreground2": "{{ colours.functions }}",
		"editorBracketHighlight.foreground3": "{{ colours.constantValues }}",
		"editorBracketHighlight.foreground4": "{{ colours.variables }}",
		"editorBracketHighlight.foreground5": "{{ colours.types }}",
		"editorBracketHighlight.foreground6": "{{ colours.classes }}",
		"list.errorForeground": "{{ colours.errors }}",
		"editorError.foreground": "{{ colours.errors }}",
		"errorLens.errorForeground": "{{ colours.errors }}",
		"errorLens.errorBackground": "{{ colours.errorsBg }}",
		"minimap.errorHighlight": "{{ colours.errorsBg }}",
		"list.warningForeground": "{{ colours.warnings }}",
		"editorWarning.foreground": "{{ colours.warnings }}",
		"errorLens.warningForeground": "{{ colours.warnings }}",
		"errorLens.warningBackground": "{{ colours.warningsBg }}",
		"minimap.warningHighlight": "{{ colours.warningsBg }}",
		"editorInfo.foreground": "{{ colours.infos }}",
		"errorLens.infoForeground": "{{ colours.infos }}",
		"errorLens.infoBackground": "{{ colours.transparent }}",
		"minimap.infoHighlight": "{{ colours.transparent }}",
		"editorCursor.foreground": "{{ colours.cursor }}",
		"editorMultiCursor.primary.foreground": "{{ colours.cursorBright }}",
		"terminalCursor.foreground": "{{ colours.cursorBright }}",
		"editorCursor.background": "{{ colours.editorBg }}"
	},
	"semanticTokenColors": {
		"function": "{{ colours.functions }}",
		"variable": "{{ colours.variables }}",
		"string": "{{ colours.text }}",
		"number": "{{ colours.constantValues }}",
		"class": "{{ colours.classes }}",
		"keyword": "{{ colours.controlFlow }}",
		"type": "{{ colours.types }}",
		"comment": "{{ colours.comments }}"
	},
	"tokenColors": [
		{
			"scope": [
				"entity.name.function",
				"support.function",
				"meta.function-call.generic",
				"punctuation.definition.decorator",
				"punctuation.definition.parameters",
				"punctuation.definition.link",
				"punctuation.definition.metadata",
				"meta.declaration.annotation",
				"storage.type.annotation",
				"meta.brace.round"
			],
			"settings": {
				"foreground": "{{ colours.functions }}"
			}
		},
		{
			"scope": [
				"entity.name.function.python",
				"meta.definition.function",
				"meta.definition.method",
				"entity.name.function.lua"
			],
			"settings": {
				"fontStyle": "bold"
			}
		},
		{
			"scope": "markup.underline.link",
			"settings": {
				"foreground": "{{ colours.linksEditor }}"
			}
		},
		{
			"scope": [
				"source",
				"variable",
				"meta.item-access.arguments",
				"meta.indexed-name",
				"markup.inline.raw",
				"meta.tag.structure",
				"meta.tag.metadata",
				"entity.other.attribute-name",
				"entity.name.tag.css",
				"meta.record.field",
				"storage.modifier.package",
				"storage.modifier.import",
				"meta.class.body.java",
				"meta.object-literal.key",
				"entity.other.attribute",
				"entity.name.section",
				"keyword.other.definition",
				"support.variable.single-line.spdoc",
				"support.type.property-name",
				"support.variable.property",
				"entity.name.tag.localname",
				"entity.name.tag.yaml"
			],
			"settings": {
				"foreground": "{{ colours.variables }}"
			}
		},
		{
			"scope": "markup.italic",
			"settings": {
				"fontStyle": "italic"
			}
		},
		{
			"scope": [
				"constant.other.caps",
				"support.variable.magic",
				"variable.other.constant",
				"support.constant"
			],
			"settings": {
				"foreground": "{{ colours.constantVariables }}"
			}
		},
		{
			"scope": [
				"string",
				"source.css",
				"source.ignore",
				"source.jinja",
				"source.ini"
			],
			"settings": {
				"foreground": "{{ colours.text }}"
			}
		},
		{
			"scope": [
				"constant.numeric",
				"constant.language",
				"constant.other.ellipsis",
				"constant.other.color",
				"meta.scope.jinja.variable",
				"markup.italic",
				"punctuation.definition.italic",
				"constant.character.escape",
				"keyword.control.anchor.regexp",
				"constant.other.character-class.regexp"
			],
			"settings": {
				"foreground": "{{ colours.constantValues }}"
			}
		},
		{
			"scope": [
				"entity.name.type",
				"meta.function",
				"support.type.exception",
				"variable.parameter.function.language.special.self",
				"variable.language.special.self",
				"variable.parameter.function.language.special.cls",
				"variable.language.special.cls",
				"meta.module.name",
				"markup.bold",
				"punctuation.definition.bold",
				"storage.type.java",
				"storage.type.object.array.java",
				"storage.type.generic.java",
				"meta.class",
				"variable.language.this"
			],
			"settings": {
				"foreground": "{{ colours.classes }}"
			}
		},
		{
			"scope": [
				"entity.name.type.class",
				"markup.bold",
				"heading.1"
			],
			"settings": {
				"fontStyle": "bold"
			}
		},
		{
			"scope": [
				"keyword",
				"meta.lambda-function",
				"storage.type.class",
				"storage.type.function",
				"storage.type.string",
				"constant.character.format.placeholder",
				"punctuation.definition.arguments",
				"punctuation.definition.dict",
				"punctuation.separator",
				"punctuation.parenthesis",
				"meta.structure.array",
				"meta.structure.dictionary",
				"markup.heading",
				"entity.name.section.markdown",
				"punctuation.definition.heading",
				"punctuation.definition.list",
				"punctuation.definition.quote",
				"punctuation.definition.raw",
				"punctuation.definition.markdown",
				"meta.tag.metadata.doctype",
				"punctuation.definition.tag",
				"punctuation.section",
				"punctuation.curlybrace",
				"punctuation.squarebracket",
				"punctuation.definition.interpolation",
				"keyword.type.elm",
				"punctuation.bracket",
				"punctuation.parens",
				"meta.function.type-declaration",
				"meta.function.type-record",
				"constant.unit.elm",
				"storage.type",
				"meta.array",
				"punctuation.definition.binding-pattern",
				"punctuation.definition.template-expression",
				"punctuation.terminator",
				"meta.scope.jinja.tag",
				"source.lua",
				"punctuation.definition.entity",
				"source.sourcepawn",
				"punctuation.definition.table",
				"punctuation.eq",
				"punctuation.definition.typeparameters",
				"meta.tag.preprocessor",
				"meta.tag.xml",
				"punctuation.definition.block",
				"punctuation.definition.mapping",
				"punctuation.definition.sequence",
				"storage.modifier",
				"meta.flow-mapping",
				"meta.flow-sequence",
				"meta.embedded.block"
			],
			"settings": {
				"foreground": "{{ colours.controlFlow }}"
			}
		},
		{
			"scope": [
				"support.type",
				"meta.item-access",
				"keyword.type",
				"storage.type.elm",
				"constant.type-constructor",
				"storage.type.primitive",
				"fenced_code.block.language",
				"storage.type.built-in",
				"storage.type.tag"
			],
			"settings": {
				"foreground": "{{ colours.types }}"
			}
		},
		{
			"scope": [
				"comment",
				"punctuation.definition.comment",
				"string.quoted.docstring",
				"meta.setting.documentation.robotframework",
				"meta.testcase_setting.documentation.robotframework"
			],
			"settings": {
				"foreground": "{{ colours.comments }}"
			}
		},
		{
			"scope": [
				"comment",
				"punctuation.definition.comment"
			],
			"settings": {
				"fontStyle": "italic"
			}
		},
		{
			"scope": "comment.block",
			"settings": {
				"fontStyle": ""
			}
		}
	]
}
